*{
    user-select: none;
    position:relative;
}

.container{
    position:relative;
    margin:0 auto;
    max-width: 1200px;
    height: 100%;
    border:1px solid black;
}

header {
    display:flex;
    justify-content: space-between;
    align-itemss:center;
    margin:50px 30px;
}
header .title{
    font-size: 60px;
    font-family: 'Vibur', sans-serif;
    letter-spacing: 4px;
}
header ul{
    display:flex;
    /* justify-content: space-between; */
}
header li{
    cursor:pointer;
    font-size:20px;
    font-family: 'Courgette',sans-serif;
    margin-left:45px;
}
header li.active{
    color:red;
}
header li:hover{
    font-weight: bold;
}
header li:active{
    font-weight: normal;
}

aside ul{
    display:flex;
    justify-content: space-between;
    width:70%;
    margin:0 auto; 
    margin-bottom: 25px;   
}

aside li{
    cursor:pointer;
    font-size: 24px;
    font-family: 'Bellota',sans-serif;
}

aside li.active{
    color: skyblue;
}

aside li:hover{
    font-weight: bold;
}
aside li:active{
    font-weight: normal;
}

article{
    width: 85%;
    margin:0 auto;
    margin-bottom: 50px;
}

.grid-container{
    display:grid;
    row-gap: 28px;
    column-gap: 24px;
    grid-template-columns: repeat(4,1fr);
}

.items{
    cursor:pointer;
    width: 0;
    height: 0px;
    padding:50%;
    overflow: hidden;
    /* border:1px solid black; */
    border-radius: 10px;
    opacity:0.8;
    transition:opacity 0.2s;
}
.items.hide{
    display:none;
}
.items:hover{
    opacity:1;
}


.items .img{
    position:absolute;
    min-width: 100%;
    min-height: 100%;
    max-height: 150%;
    transform: translate(-50%,-50%);
    transition:max-height 0.3s;
}
.items img:hover{
    max-height: 160%;
}
